body {
    margin-bottom: 20px;
}
.container {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
}

.flex-box-container-1 div {
    display: flex;
    padding: 5px;
    align-items: center;
}
#ageInDays {
    color: blue;
}

.challenge-2-btn {
    border: 1px solid black;
    padding: 10px;
}
.flex-box-container-2 img {
    width: 180px;
    height: 180px;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}
#flex-box-rps-div img {
    width: 150px;
    height: 150px;
}
#humanImage img {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);;
}
#botImage img {
    box-shadow: 0px 10px 50px rgba(243, 38, 24, 1);;
}
#finalMessage h1 {
    font-size: 60px;
    padding: 30px;
}
#replay-btn {
    margin: 10px;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url("D:/Programming/Projects/javacript/challenge/static/images/table2.jpg") center;
    color: #ffffff;
}
.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}
#your-box img, #dealer-box img {
    padding: 10px;
    width: 110px;
    height: 140px;
}
.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
    /* color: #ffffff; */
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
